$pageBackgroundColor: white;
$recipePagePictureHeightPhone: 25vh;
$recipePagePictureHeightDesktop: 300px;
$highlightCorner: 5px;

.recipePage {
  width: 95%;
  margin: 2% 0px 2% 0px;

  .recipePageBanner {
    grid-area: banner;
    background-color: $pageBackgroundColor;
    border-radius: 10px 10px 0px 0px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
  }

  .recipePagePicture {
    grid-area: picture;
    width: 100%;
    height: $recipePagePictureHeightPhone;
    object-fit: cover;
  }

  .recipePageInfoLeft {
    grid-area: infoLeft;
    background-color: $pageBackgroundColor;
    width: auto;
    height: auto;
    padding: 0px 0px 5px 15px;

    > h2 {
      font-size: large;
      font-weight: 600;
    }

    .ingredientList {
      > li {
        list-style-type: none;
      }
    }
  }

  .recipePageInfoRight {
    grid-area: infoRight;
    background-color: $pageBackgroundColor;
    width: auto;
    height: auto;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .healthLabelList {
      width: auto;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 5px;

      > li {
        background-color: rgb(238, 171, 221);
        padding: 0px 5px 0px 5px;
        border-radius: 5px;
      }
    }

    .dietLabels {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 5px;

      > li {
        list-style-type: none;
        background-color: rgb(132, 237, 146);
        padding: 0px 5px 0px 5px;
        border-radius: $highlightCorner;
      }
    }

    .cautionList {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 5px;

      > li {
        list-style-type: none;
        background-color: rgb(240, 146, 146);
        padding: 0px 5px 0px 5px;
        border-radius: $highlightCorner;
      }
    }

    .nutrientList {
      width: auto;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 5px;
    }
  }

  .recipePageFooter {
    grid-area: footer;
    background-color: $pageBackgroundColor;
    width: auto;
    height: 5vh;
    border-radius: 0px 0px 10px 10px;
  }
}

@media (min-width: 1200px) {
  .recipePage {
    width: 65vw;
    margin: 0px;
    display: grid;
    grid-template-rows: 13vh $recipePagePictureHeightDesktop auto 8vh;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "banner banner"
      "picture picture"
      "infoLeft infoRight"
      "footer footer";

    .recipePageBanner {
      border-radius: 0px;
    }

    .recipePagePicture {
      height: $recipePagePictureHeightDesktop;
    }
    .recipePageInfoRight {
      padding-left: 0px;
    }

    .recipePageFooter {
      height: auto;
      border-radius: 0px;
      margin: 0px;
    }
  }
}
