$pageBackgroundColor: white;
$recipePagePictureHeight: 45vh;
$highlightCorner: 5px;

.recipePage {
  width: 65vw;
  display: grid;
  grid-template-rows: 13vh $recipePagePictureHeight auto 8vh;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "banner banner" 
    "picture picture"
    "infoLeft infoRight"
    "footer footer";

  .recipePageBanner {
    grid-area: banner;
    background-color: $pageBackgroundColor;
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
  }

  .recipePagePicture {
    grid-area: picture;
    width: 100%;
    height: $recipePagePictureHeight;
    object-fit: cover;
  }

  .recipePageInfoLeft {
    grid-area: infoLeft;
    background-color: $pageBackgroundColor;
    width: auto;
    height: auto;
    padding-left: 15px;

    > h2 {
      font-size: large;
      font-weight: 600;
    }
    
    .ingredientList{
      > li {
      list-style-type: none;
      }
    }
  }

  .recipePageInfoRight {
    grid-area: infoRight;
    background-color: $pageBackgroundColor;
    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
      
    .healthLabelList {
      width: 400px;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 5px;
          
      > li{
        background-color: rgb(238, 171, 221);
        padding: 0px 5px 0px 5px;
        border-radius: 5px;
      }
    }

    .dietLabels {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 5px;
      
      > li {
        list-style-type: none;
        background-color: rgb(132, 237, 146);
        padding: 0px 5px 0px 5px;
        border-radius: $highlightCorner;
      }
    }

    .cautionList {
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 5px;
      
      > li {
        list-style-type: none;
        background-color: rgb(240, 146, 146);
        padding: 0px 5px 0px 5px;
        border-radius: $highlightCorner;
      }
    }

    .nutrientList{
      width: 400px;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 5px;
    }
  }

  .recipePageFooter{
    grid-area: footer;
    background-color: $pageBackgroundColor;
    width: auto;
    height: auto;
  }
}